body {
    font-family: "Playwrite AU SA", serif;
    color : #C1BCAC;
    background-color:#979B8D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #5C7457;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 20px px;
    background-color:#EFD0CA;
    color:#214E34;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#EFD0CA;
}

p {
    margin-top: 20px;
    font-size: 2em;
    color: #C1BCAC;
}
